body {
    text-align:center;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 550px;
    margin: auto;
}

ul {
    list-style: none;
    padding:0;
}

.header img {
    width:550px;
    background-color: #ffffff;
    z-index: 200;

}

.menu_exp_inc {
	display : flex;
	justify-content: center;
}

.menu {
    display:grid;
    grid-template-columns: auto auto;
    position: fixed; 
    bottom: 0; 
    width: 550px;
    height:80px;
    text-align: center;
}


/*-------------------------------------------- Projects -----------------------------------*/

.list_projects {
    margin: 40px 40px;
    text-align: left;
    height: 55%;
    position: relative;
}

.item_project {
    display: grid;
    grid-template-columns: 85% 15%;
    margin:50px 0;
    font-size:2.3em;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.create_button {
    padding: 15px 0 5px 3px;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed; 
    left:0;
    bottom: 0; 
    width: 100%;
    text-align: center;
}

.create_button_project {    
    position: fixed; 
    bottom: 0; 
    width: 550px;
    height:80px;
    text-align: center;
}


/*-------------------------------------------- Creation Project -----------------------------------*/

.create_project div:nth-child(1){
    color:#ffffff;
    margin:auto;
    font-size:2.3em;
    height:131px;
    line-height: 131px;
    background-color: #F47C22;
}

.create_project div:nth-child(2) p{
    margin-top:60px;
    font-size:2em;
 }

 .create_project div:nth-child(2) input{
    margin-top:20px;
    font-size:0.8em;
    width:70%;
 }

.create_project div:nth-child(1) img {
    position:fixed;
    left: 30px;
     top: 51px;
}


/*-------------------------------------------- Summary -----------------------------------*/

.summary {
    position: relative;
    top: 130px;
}

.header_project{
    color:#ffffff;
    margin:auto;
    font-size:2.5em;
    width:550px;
    height:131px;
    line-height: 131px;
    background-color: #F47C22;
    font-family:arial rounded mt;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 202;
}

.header_project img{
    position:fixed;
    left: 50px;
     top: 51px;
}


/*-------------------------------------------- Expenses -----------------------------------*/

.expenses {
    position: relative;
    top: 130px;
}

.list_expenses {
    margin-top:50px;
    padding-bottom: 200px;
}

.list_expenses div:nth-child(1) div {
    font-weight: bold;
    font-size:1.1em;
    margin-bottom:10px;
}

.list_expenses > div {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    margin-top:20px;
    font-size: 1em;
}

.category div div:nth-child(2) {
    background-color: black;
}

.category {
    margin-top:50px;
}

.category > div {
    display:grid;
    grid-template-columns: 25% 50% 25%;
    text-align:center;
    margin-top:20px;
    font-size: 1em;
}

.create_expense {
    position: relative;
    top: 130px;
}

.create_expense div:nth-of-type(2){
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    margin:10px 0;
}

.create_expense div:nth-of-type(2) img{
    margin:10px auto;
}

.create_expense img:active{
    width: 60%;
 }

.create_expense input{
    font-size:1.1em;
    width:70%;
 }

.create_button_expense {
    padding: 15px 0 5px 3px;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed; 
    bottom: 80px; 
    width: 100%;
    text-align: center;
}

.create_button_expense img:active{
   width:15%;
}

.submit_button_expense {    
    position: fixed; 
    bottom: 200; 
    width: 100%;
    height:80px;
    text-align: center;
}

.submit_button_expense img:active {    
    width:55%; 
}

/*-------------------------------------------- Menu -----------------------------------*/

.menu {
    margin:auto;
    height:80px;
    background-color: #F47C22;
    display:grid;
    grid-template-columns: auto auto;
    position: fixed; 
    bottom: 0; 
    width: 100%;
    text-align: center;
    align-items: center;
}

.menu div:first-child {
    border-right:1px solid #ffffff;
}

